body {
  background-color: #e8f1f2;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

header {
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #1b98e0;
  border: 0.15rem solid black;
}

.primary-navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation button {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
  height: 3rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #1b98e0;
}

.primary-navigation button:hover {
  background-color: #1a88c7;
  border-radius: 1rem;
}

table {
  min-inline-size: 60rem;
  max-inline-size: 60rem;
}

h3 {
  position: relative;
  top: -1rem;
  font-family: 'Roboto', serif;
}

.table-spacing {
  margin-bottom: 2rem;
}

.trade-to {
  color: rgb(3, 115, 243);
}

.rosters-spinner {
  display: block;
  margin: auto;
  padding-top: 5rem;
  width: fit-content;
}

.loading-icon {
  height: 5rem;
  width: 5rem;
  margin-left: 4rem;
  display: inline;
  animation: rotate 2s infinite linear;
}
.loading-message {
  font-size: 30px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header-spacing {
  padding-top: 1rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-container {
  display: flex;
  overflow-x: auto;
}

.dropdown-container {
  padding-top: 1rem;
  padding-left: 3rem;
}

.week-dropdown {
  background-color: #e8f1f2;
  width: 3rem;
}

.newsletter-header {
  background-color: #006494;
  width: 50rem;
  height: 5.63rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.18rem solid black;
  margin-right: 6rem;
}

.dropdown-week-header {
  margin: auto;
}

iframe {
  border-left: 0.18rem solid black;
  border-right: 0.18rem solid black;
  border-bottom: 0.18rem solid black;
  width: 50rem;
  height: 50rem;
}

.spacer {
  height: 5rem;
}

table,
th,
td {
  font-family: 'Roboto', serif;
  border: 0.15rem solid black;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background-color: rgb(217, 232, 247);
}

.table-header {
  text-align: center;
  background-color: #006494;
  font-size: 3rem;
}

th {
  font-size: 1.5rem;
  padding: 1rem;
}

td {
  font-size: 1.25rem;
  padding: 1rem;
}

h2 {
  font-size: 2.75rem;
  text-align: center;
  font-family: 'Roboto', serif;
  margin-top: auto;
  margin-bottom: auto;
}

.plus-sign {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}

.minus-sign {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}

.trade-arrows {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}
.no-change {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  left: 1rem;
}

.up-arrow {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  top: 0.1rem;
}

.down-arrow {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  top: 0.1rem;
}

.error-container {
  font-family: 'Roboto', serif;
  font-size: 40px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  header {
    float: none;
    display: block;
    text-align: left;
  }
  .primary-navigation ul {
    display: block;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .primary-navigation button {
    font-family: 'Roboto', serif;
    font-size: 1.5rem;
    height: 3rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #1b98e0;
  }
  .page-container {
    display: block;
    justify-content: left;
    align-items: left;
  }

  .data-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .dropdown-container {
    position: relative;
    right: 2.5rem;
  }

  .week-dropdown {
    background-color: #e8f1f2;
    width: 3rem;
    position: relative;
    bottom: 1rem;
  }

  table,
  th,
  td {
    font-family: 'Roboto', serif;
    border: 0.15rem solid black;
    border-collapse: collapse;
    background-color: rgb(217, 232, 247);
    text-align: left;
  }

  .table-header {
    text-align: left;
    background-color: #006494;
    font-size: 2rem;
  }

  th {
    font-size: 1rem;
  }

  td {
    font-size: 1rem;
  }
  table {
    min-inline-size: 15rem;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto', serif;
    margin-top: auto;
    margin-bottom: auto;
  }

  .newsletter-header {
    background-color: #006494;
    width: 24.5rem;
    height: 5.63rem;
    display: flex;
    align-items: left;
    justify-content: left;
    border: 0.18rem solid black;
  }

  iframe {
    border-left: 0.18rem solid black;
    border-right: 0.18rem solid black;
    border-bottom: 0.18rem solid black;
    width: 24.5rem;
  }
}
