body {
  background-color: #e8f1f2;
}

h1 {
  font-size: 55px;
  text-align: center;
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

header {
  justify-content: space-between;
  gap: 20px;
  padding: 5px;
  background-color: #1b98e0;
  border: 2px solid black;
}

.primary-navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation button {
  font-family: 'Roboto', serif;
  font-size: 25px;
  height: 50px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #1b98e0;
}

.primary-navigation button:hover {
  background-color: #1a88c7;
  border-radius: 10px;
}

table {
  min-inline-size: 1000px;
  max-inline-size: 1100px;
}

h3 {
  position: relative;
  top: -15px;
  font-family: 'Roboto', serif;
}

.table-spacing {
  margin-bottom: 2rem;
}

.trade-to {
  color: rgb(3, 115, 243);
}

.rosters-spinner {
  display: block;
  margin: auto;
  padding-top: 5rem;
  width: fit-content;
}

.loading-icon {
  height: 5rem;
  width: 5rem;
  margin-left: 4rem;
  display: inline;
  animation: rotate 2s infinite linear;
}
.loading-message {
  font-size: 30px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header-spacing {
  padding-top: 1rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-container {
  display: flex;
}

.dropdown-container {
  padding-top: 1rem;
  padding-left: 3rem;
}

.week-dropdown {
  background-color: #e8f1f2;
  width: 3rem;
}

.newsletter-header {
  background-color: #006494;
  width: 800px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin-right: 6rem;
}

.dropdown-week-header {
  margin: auto;
}

iframe {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.spacer {
  height: 5rem;
}

table,
th,
td {
  font-family: 'Roboto', serif;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background-color: rgb(217, 232, 247);
}

.table-header {
  text-align: center;
  background-color: #006494;
  font-size: 3rem;
}

th {
  font-size: 25px;
  padding: 1rem;
}

td {
  font-size: 20px;
  padding: 1rem;
}

h2 {
  font-size: 45px;
  text-align: center;
  font-family: 'Roboto', serif;
  margin-top: auto;
  margin-bottom: auto;
}

.plus-sign {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}

.minus-sign {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}

.trade-arrows {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}
.no-change {
  width: 25px;
  height: 25px;
  position: relative;
  top: 2px;
  left: 20px;
}

.up-arrow {
  width: 30px;
  height: 20px;
  position: relative;
  top: 2px;
}

.down-arrow {
  width: 30px;
  height: 20px;
  position: relative;
  top: 2px;
}
